body {
  font-family: "Oxygen", sans-serif;
}

.welcome-header {
  top: 0;
  position: absolute;
  height: 100vh;

  z-index: -1;
}

.welcome-message {
  padding: 185px;

  text-align: center;
  color: white;
  font-size: 130%;
  font-weight: bold;
  letter-spacing: 0.7px;

  @include mobile {
    padding: 200px 0;

    font-size: 70%;
  }
}

.button {
  display: inline-block;
  margin: 4px 2px;
  padding: 20px 50px;

  border: 2px solid colour(primary-dark);
  background-color: white;

  color: colour(primary-dark);
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  transition: all $transition-default;
  font-weight: bold;
}

.button:hover {
  background-color: colour(primary-dark);
  color: white;
  border-color: white;
}
