.navbar {
  padding: 15px;
  margin: 0;

  background-color: colour(primary-dark);

  list-style-type: none;
  overflow: hidden;

  li {
    float: right;

    font-size: 20px;
  }

  li a {
    display: block;

    padding: 14px 16px;

    color: #ccc;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.2s;
    font-weight: bold;
  }

  li a:hover {
    color: white;
  }

  a .active {
    color: white;
  }

  .website-title {
    float: left !important;

    color: white !important;
    font-size: 30px !important;
  }

  .icon {
    display: none;
  }
}

@media screen and (max-width: 840px) {
  .navbar li a:not(.website-title) {
    display: none;
  }

  .navbar li a.icon {
    float: right;
    display: block;

    color: white;
  }
}

.responsive {
  float: right;
  margin: 0;
  width: 100%;

  padding: 20px;
  margin-bottom: 50px;

  list-style-type: none;
  background-color: colour(primary-dark);

  a.icon {
    right: 0;
  }

  li a {
    display: block;

    padding: 14px 16px;

    color: #ccc;
    text-align: right;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;

    transition: color 0.2s;
  }

  li a:hover {
    color: white;
  }

  .website-title {
    display: none;
  }
}
