.projects {
  margin: 50px 100px;
  letter-spacing: 0.5px;
  line-height: 2em;
  word-spacing: 2px;

  @include mobile {
    margin: 20px 20px;
  }
}

.project-info {
  display: flex;

  margin-top: 50px;
  border-bottom: 3px dotted grey;
  padding-bottom: 50px;

  a {
    color: colour(accent);
    text-decoration: none;
  }

  &--reverse {
    flex-direction: row-reverse;

    .project-paragraph {
      margin-right: 32px;
    }
  }

  @include mobile {
    flex-direction: column-reverse;
  }
}

.headline {
  text-align: center;
}

.project-paragraph {
  width: 50%;

  @include mobile {
    width: 100%;
  }
}

.project-photo {
  width: 50%;
  margin-top: 2em;

  @include mobile {
    width: auto;
  }
}

.screenshot {
  width: 100%;
  height: auto;
  max-width: 90%;

  margin-bottom: 15px;
  border: 2px solid black;
}
