@import url("https://fonts.googleapis.com/css?family=Oxygen&display=swap");
body {
  font-family: 'Oxygen', sans-serif;
}

.navbar {
  padding: 20px;
  margin: 0;
  background-color: #242C32;
  list-style-type: none;
  overflow: hidden;
}

.navbar li {
  float: right;
  font-size: 20px;
}

.navbar li a {
  display: block;
  padding: 14px 16px;
  color: #ccc;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  font-weight: bold;
}

.navbar li a:hover {
  color: white;
}

.navbar a .active {
  color: white;
}

.navbar .website-title {
  float: left !important;
  color: white !important;
  font-size: 30px !important;
}

.navbar .icon {
  display: none;
}

.welcome-header {
  top: 0;
  position: absolute;
  height: 100vh;
  z-index: -1;
}

.welcome-message {
  padding: 185px;
  text-align: center;
  color: white;
  font-size: 130%;
  font-weight: bold;
  letter-spacing: .7px;
}

@media (max-width: 840px) {
  .welcome-message {
    padding: 50px;
    padding-bottom: 300px;
    font-size: 70%;
  }
}

.button {
  display: inline-block;
  margin: 4px 2px;
  padding: 25px 60px;
  border: 2px solid #242C32;
  background-color: white;
  color: #242C32;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: color 0.2s, background-color 0.2s;
  transition: color 0.2s, background-color 0.2s;
  font-weight: bold;
}

.button:hover {
  background-color: #242C32;
  color: white;
}

.about {
  margin: 50px 100px;
  width: auto;
}

@media (max-width: 840px) {
  .about {
    margin: 20px 20px;
  }
}

.about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 840px) {
  .about-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about-paragraph {
  width: 50%;
  margin-top: 10px;
  letter-spacing: .5px;
  line-height: 2em;
  font-size: 16px;
  word-spacing: 2px;
}

@media (max-width: 840px) {
  .about-paragraph {
    width: auto;
  }
}

.about-photo {
  width: 45%;
  margin-top: 10px;
  text-align: center;
}

@media (max-width: 840px) {
  .about-photo {
    width: 100%;
  }
}

.profile {
  width: 90%;
  height: auto;
  max-width: 500px;
  margin-top: 2em;
}

.contact {
  margin: 50px 100px;
  text-align: center;
  letter-spacing: .5px;
  line-height: 2em;
  font-size: 16px;
  word-spacing: 2px;
}

@media (max-width: 840px) {
  .contact {
    font-size: 75%;
    margin: 20px 20px;
  }
}

.social-media img {
  margin: 0 15px;
  padding-bottom: 8px;
  border-bottom: 8px solid white;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.social-media img:hover {
  opacity: 0.8;
  border-bottom: 8px solid #2b90d9;
}

.email a {
  text-decoration: none;
  color: black;
}

.email a:hover {
  color: #2b90d9;
}

.projects {
  margin: 50px 100px;
  width: auto;
  letter-spacing: .5px;
  line-height: 2em;
  font-size: 16px;
  word-spacing: 2px;
}

@media (max-width: 840px) {
  .projects {
    margin: 20px 20px;
  }
}

.project-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  border-bottom: 3px dotted grey;
  padding-bottom: 50px;
}

.project-info a {
  color: #2b90d9;
  text-decoration: none;
}

@media (max-width: 840px) {
  .project-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.headline {
  margin-bottom: 20px;
  text-align: center;
}

.project-paragraph {
  width: 50%;
}

@media (max-width: 840px) {
  .project-paragraph {
    width: 100%;
  }
}

.project-photo {
  width: 50%;
  margin-top: 2em;
}

@media (max-width: 840px) {
  .project-photo {
    width: auto;
  }
}

.screenshot {
  width: 100%;
  height: auto;
  max-width: 90%;
  margin-bottom: 15px;
  border: 2px solid black;
}

@media screen and (max-width: 840px) {
  .navbar li a:not(.website-title) {
    display: none;
  }
  .navbar li a.icon {
    float: right;
    display: block;
    color: white;
  }
}

.responsive {
  float: right;
  margin: 0;
  width: 100%;
  padding: 20px;
  margin-bottom: 50px;
  list-style-type: none;
  background-color: #242C32;
}

.responsive a.icon {
  right: 0;
}

.responsive li a {
  display: block;
  padding: 14px 16px;
  color: #ccc;
  text-align: right;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.responsive li a:hover {
  color: white;
}

.responsive .website-title {
  display: none;
}
/*# sourceMappingURL=app.css.map */