@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: verdana;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #242C32;
  padding: 30px;
}

.navbar li {
  float: right;
  font-size: 16px;
}

.navbar li a {
  color: #ccc;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.3s;
}

.navbar li a:hover {
  color: white;
}

.website-title   {
  float: left !important;
  color: white !important;
  font-size: 24px !important;
}
